html, body{
    margin: 0;
    background-color: #2f4f30;
    color: #fff;
}
.headerCartas{
    text-align: center;
    background-color: black;
    padding: 20px;
    font-size: 25px;
}
.carta{
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}
#jugadorCartas, #jugadorPC{
    height: 240px;
}